{{/*
    This custom commands functions similar to the reminder command, however it will send a DM instantly.
    One could say like a private reminder/pin. Nothing much, but quite handy I think  :)

    Usage:  
        Bookmark <duration> [message]
        bm <duration> [message]
    
    Recommended trigger and trigger type: RegEx trigger with `\A(?:-\s?|<@!?204255221017214977>\s*)b(?:ook)?m(?:ark)?(?:\s+|\z)`

    Author: Luca Z. <https://github.com/l-zeuch>
    License: APGL-3.0
    Copyright: (c) 2021
*/}}

{{/* Actual Code - Only change this when you know what you are doing */}}
{{if not .ExecData}}
    {{$args := parseArgs 1 "```Bookmark <In:Duration> [Message:Text]```\nNot enough arguments passed." (carg "duration" "Duration") (carg "string" "Message")}}
    {{$dur := div ($args.Get 0) 1000000000}}
    {{$link := (printf "https://discord.com/channels/%d/%d/%d" .Guild.ID .Channel.ID .Message.ID)}}
    {{$embed := sdict
        "title" "Bookmark"
        "description" "You asked me to bookmark this for you:"
        "fields" (cslice
            (sdict "name" "Note" "value" (print (or ($args.Get 1) "No message provided.")) "inline" true)
            (sdict "name" "Info" "value" (printf "Channel: <#%d>\nSource: [Jump!](%s)"  .Channel.ID $link) "inline" true)
    )}}
    {{addReactions "📫"}}
    {{execCC .CCID nil $dur $embed}}
{{else}}
    {{sendDM (cembed .ExecData)}}
{{end}}