{{/*
    This handy dandy command allows you to get the logs of a channel, without actually running it in the
    target channel. Sometimes you want to secretly log messages, that's what this command does!

    Recommended trigger and trigger type: RegEx trigger with trigger `\A(?:\-|<@!?204255221017214977>)\s*g(?:et)?logs?(?:\s+|\z)`

    Usage: -getlogs <channel> [amount]

    Author: Luca Z. <https://github.com/l-zeuch>
    License: APGL-3.0
    Copyright: (c) 2021
*/}}

{{define "getlogs"}}
    {{$temp := .TemplateArgs}}
    {{$temp.Set "capture" (execAdmin "log" $temp.amount)}}
    {{sleep 1}}
{{end}}

{{$args := parseArgs 0 "" (carg "channel" "Target Channel") (carg "int" "Count")}}

{{$err := ""}}
{{$amount := 100}}
{{$templateData := sdict}}
{{$channelID := .Channel.ID}}

{{if ($args.IsSet 0)}}
    {{$channelID = ($args.Get 0).ID}}
{{else if ($args.IsSet 1)}}
    {{$amount = $args.Get 1}}
    {{if or (gt $amount 250) (lt $amount 2)}}
        {{$err = "**Invalid arguments provided:**\nCount is too big/small. (has to be within 2 - 250)"}}
    {{end}}
{{end}}

{{$embed := sdict "footer" (sdict "text" (printf "Requested by %s" .User.String) "icon_url" (.User.AvatarURL "256")) "timestamp" currentTime}}

{{if not $err}}
    {{$templateData.Set "amount" $amount}}
    {{$embed.Set "description" "Getting logs..."}}
    {{$temp := sendMessageRetID nil (cembed $embed)}}
    {{sendTemplate $channelID "getlogs" $templateData}}
    {{if reFind `blacklisted` $templateData.capture}}
        {{$embed.Set "description" "**Failed creating logs:**\nChannel is blacklisted from creating logs.\nThis can be changed on the control panel."}}
        {{$embed.Set "color" 0xff0000}}
    {{else}}
        {{$embed.Set "description" (printf "Last %d messages in <#%d>: [Logs](%s)" $amount $channelID $templateData.capture)}}
        {{$embed.Set "color" 0x00ff00}}
    {{end}}
    {{editMessage nil $temp (complexMessageEdit "embed" $embed)}}
{{else}}
    {{$embed.Set "description" $err}}
    {{$embed.Set "color" 0xff0000}}
    {{sendMessage nil (cembed $embed)}}
{{end}}