{{/*
    Trigger type: Regex
    Trigger: \A  
    
    Copyright (c): StinkySlinky#8071, 2021
    Source: <https://github.com/l-zeuch/lagpdb-cc>
    Updated by: <htps://github.com/jantsop>
    Licensed under the terms of BSD-3-Clause
*/}}

{{if not (reFind `\A-(?:whos)?(?:that)?(?:pokemon)` .Message.Content)}}
    {{if (dbGet .User.ID "whosthat").Value}}
        {{$pokemon := (dbGet .User.ID "whosthat").Value}}
        {{if eq (lower (.Message.Content)) (lower $pokemon)}}
That's correct, {{.User.Mention}}!
            {{dbDel .User.ID "whosthat"}}
        {{else}}
That's not the right pokémon, {{.User.Mention}}.
        {{end}}
    {{end}}
{{end}}
