{{/*
    This is the message handler for the pokemon package. It will listen for a message
    and when a current guessing game is underway, act accordingly.

    
    Recommended trigger and trigger type: RegEx trigger with `\A` trigger.
    
    Author: StinkySlinky#8071
    Lincense: AGPL-3.0
    Copyright (c): 2021
*/}}

{{if not (reFind `\A-(?:whos)?(?:that)?(?:pokemon)` .Message.Content)}}
    {{if (dbGet .User.ID "whosthat").Value}}
        {{$pokemon := (dbGet .User.ID "whosthat").Value}}
        {{if eq (lower (.Message.Content)) (lower $pokemon)}}
That's correct, {{.User.Mention}}!
            {{dbDel .User.ID "whosthat"}}
        {{else}}
That's not the right pokémon, {{.User.Mention}}.
        {{end}}
    {{end}}
{{end}}