{{/*
    Trigger type: Regex
    Trigger: \A  
    
    Author: StinkySlinky#8071
    Lincense: AGPL-3.0
    Copyright (c): 2021
*/}}

{{/*Replace "-whosthatpokemon" with whatever trigger you use in starting command*/}}
{{if not (eq (lower .Message.Content) "-whosthatpokemon")}}

{{if (dbGet .User.ID "whosthat").Value}}{{$pokemon := (dbGet .User.ID "whosthat").Value}}{{if eq (lower (.Message.Content)) (lower $pokemon)}}That's correct, {{.User.Mention}}!{{dbDel .User.ID "whosthat"}}{{else}}That's not the right pokémon, {{.User.Mention}}.{{end}}{{end}}{{end}}
