{{/*
    This custom command allows users to bookmark another user's message by reacting to it
    
    Usage:
      React to a message with the configured emoji. (Default 🔖)
      
    Recommended trigger: Reaction (Added only)
    
    Copyright (c): TheHolyWatermelon <https://github.com/TheHolyWaterme1on>, 2021
    Source: <https://github.com/l-zeuch/lagpdb-cc>
    Licensed under the terms of BSD-3-Clause
*/}}

{{/* Configuration start */}}
{{$emoji := "🔖"}} {{/* The emoji used to trigger a bookmark. use the emoji name when using a custom emoji. */}}
{{/* Configuration end */}}

{{/* Actual Code */}}
{{if and (eq .Reaction.Emoji.Name $emoji) .ReactionAdded}}

{{$channel := .Channel.ID}}
{{$message := .Message.ID}}
{{$guild := .Guild.ID}}

{{$author := (print .ReactionMessage.Author.Mention)}}
{{$link := (printf "https://discord.com/channels/%d/%d/%d" $guild $channel $message)}}
{{$embed := (cembed
        "title" "Bookmark"
        "description" "You asked me to bookmark this for you:"
        "fields" (cslice
            (sdict "name" "Info:" "value" (print "Author " $author (printf "\nChannel: <#%d>\nSource: [Jump!](%s)" .Channel.ID $link)) "inline" true)
                ))
    }}
{{sendDM $embed}}
{{end}}
